<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Form usages</title>
</head>

<body>

    <div>

        <h1>Current users:</h1>
        <table border="1">
            <thead><th>Users:</th></thead>
            <tbody>
                <tr><td>Nick</td></tr>
            </tbody>
        </table>

        <h2>Enter Your info:</h2>
        <p>Username: <input type="text"></p>
        <p>Password: <input type="password"></p>


        <div id="Gender_box">

        <table border="1">
            <thead> <th></th> <th>Male</th> <th>Female</th></thead>

            <tbody>
                <tr>
                    <td>Gender:</td>
                    <td><input type="radio" name="gender"></td>
                    <td><input type="radio" name="gender"></td>
                </tr>
            </tbody>

        </table>

        <br>

        <div id="hobbies">
            <span>Hobbies:</span>
            <input type="checkbox">Basketball
            <input type="checkbox">Footboot
            <input type="checkbox">Table Tennis
            <input type="checkbox">Tennis
            <input type="checkbox">Gaming
            <input type="button" value="Clear">
        </div>

        <br>

        <div id="Occupation">

            <span>Occupation:</span>

            <select>
                <option>Student</option>
                <option>Teacher</option>     
                <option>Fire Fighter</option>     
                <option>Police Officer</option>     
                <option>Software Developer</option>     
                <option>Human Resource</option>                
            </select>

        </div>

        <br>

        <div id="Self-intro">

            <textarea rows="15" cols="50" placeholder="Anything you want to tell us?"></textarea>

        </div>        

        <br>
        </div>

        <input type="submit" value="Done"> <input type="reset"> 

    </div>



</body>

</html>