<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Active Users</title>
</head>

<body>

    <h1>Active Users:</h1>

    <table border="1">
        <thead> <tr> <th>ID</th> <th>Name</th> <th>email</th> <th>Detail</th> <th>Modify</th> </tr></thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Kai</td>
                <td>kng0919@terpmail.umd.edu</td>
                <td><a href="https://www.linkedin.com/in/kai-ng-663875260">View Profile</a></td>
                <td>Edit Delete</td>
            </tr>
        </tbody>
    </table>

    <img src="https://bairesdev.mo.cloudinary.net/blog/2022/01/programming-languages-1.jpg?tx=w_1024,q_auto" />

</body>


</html>